# virtual environment
venv/
.env/

# python e cache
__pycache__/
*.pyc 
*.pyo
*.pyd

# log and local data (ingestion output)
*.log
daily_forex/
historical_forex/
monthly_macro_finance/

# secrets and credentials
local_ingestion/secrets/
credentials.json
.databrickscfg
.env
